html {
  scroll-behavior: smooth;
}

.cardHighlight {
  min-height: 100%;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 1) !important;
}

.themeColor {
  background-color: hsl(0, 0%, 9%) !important;
  color: #f4f4ef !important;
  border: none !important;
  border: 1px solid hsl(0, 0%, 0%) !important;
}

/* .themeColor:hover {
  background-color: hsl(270, 62%, 30%) !important;
} */

.themeColor:hover {
  background-color: hsl(0, 0%, 100%) !important;
  color: #000000 !important;
  border: 1px solid hsl(0, 0%, 0%) !important;

}

.bgColor {
  background-color:hsl(60, 2%, 95%) !important;
}

.quantity {
  min-width: 100px !important;
  max-width: 140px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.icons {
  opacity: 70% !important;
}

.icons:hover {
  opacity: 100% !important;
}

.cartCounter {
  display: inline-block;
  margin-left: -.2rem;
  background-color: rgb(229, 93, 15);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
}

/* body {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255, 246, 228) 0%, rgba(214, 219, 223, 0.925) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
} */

/* Banner image styling */

.bannerBG {
  background-image: url("./images/yellow-concert-bg.jpg");
  min-height: 100vh;
  background-attachment: fixed;
}

.smBannerBG {
  background-image: url("./images/sm-screen-bg.jpg");
  min-height: 100vh;
  background-attachment: fixed;
}

.smBannerText {
  /* display: block; */
  padding-top: 30%;

}

.smBannerText h1, .smBannerText h5 {
  text-shadow: 0px 0px 9px #313435;
}

.mdBannerText {
  position: relative;
  top: 30vh;
}
.mdBannerText h1, .mdBannerText h5 {
  text-shadow: 0px 0px 8px #3a3c3d;
}

.bannerBG, .smBannerBG {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  margin: 0 -15px;
}

input, a, button, textarea:focus {
  box-shadow: none !important;
}